services:
  backend:
    build: ./backend/
    ports: 
      - "8080:8080"
    volumes:
      - ./backend/:/app
    command: ["air"]
    depends_on:
      - database
    env_file:
      - .env

  database:
    image: postgis/postgis:15-3.3
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - .env

volumes:
  postgres_data:
